<nav class="navbar navbar-expand-lg p-4">
    <div class="container-fluid">
      <div id="barra" class="container-fluid">
        <a class="navbar-brand p-3" href="#">Usuarios</a>
        <a class="navbar-brand p-3" href="#">Servicios</a>
        <a class="navbar-brand p-3" href="#">Consultas</a>
        <a class="navbar-brand p-3" href="#">Nosotros</a>
      </div>
      <button class="btn btn-primary" (click)="onCrud()">LIMPIAR</button>
    </div>
  </nav>
  <div id="fondo2" class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div id="titulo" class="container m-5 p-5">
                <div class="row">
                    <h1 class="text-white">Limpieza personalizada y segura!</h1>
                </div>
                <div class="row">
                    <p class="text-white fs-4">Agenda tu servicio con el siguiente formulario</p>
                </div>
            </div>
            <div class="container">
                <div id="formulario" class="container m-5">
                    <div class="container fluid p-2">
                        <h2 class="text-white" >CONTACTENOS</h2>
                    </div>
                    <form action="">
                        <div class="container-fluid text-white">
                            <label for="">Nombre</label>
                            <div class="row">
                                <input class="form-control" type="text">
                            </div>
                            <label for="">Correo</label>
                            <div class="row">
                                <input class="form-control" type="text">
                            </div>
                            <label for="">Direccion</label>
                            <div class="row">
                                <input class="form-control" type="text">
                            </div>
                            <label for="">Asunto</label>
                            <div class="row">
                                <input class="form-control" type="text">
                            </div>
                            <div class="container p-4 text-center">
                                <button class="btn btn-primary mt-4 p-3">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        
        <div class="col-4"></div>
        <div id="fondo" class="col-4"></div>
    </div>
  </div>